{% extends 'base.html' %}
{% load static %}

{%block title%}
<div class="col-sm-8"><h2>Companies List <b>Details</b></h2></div>
{%endblock%}

{% block content %}

<table class="table table-striped table-hover table-bordered">
            
    <thead>
        <tr>
            <th>#</th>
            <th>Name <i class="fa fa-sort"></i></th>
            <th>Address</th>
            <th>Nit</th>
            <th>Description <i class="fa fa-sort"></i></th>
        </tr>
    </thead>
    <tbody>

{% for companies in company %}

        <tr>
            <td>{{companies.id}}</td>
            <td>{{companies.name_company}}</td>
            <td>{{companies.address}}</td>
            <td>{{companies.nit}}</td>
            <td>{{companies.description}}</td>
            <td>   
                
                <a href="update_company/{{companies.id}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a href="delete/{{companies.id}}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
        </tr>






{% endfor %}
</tbody>
</table>

{% comment %} <form action="{% url 'delete_company' id_company %}"  method="POST" class="form-inline">
    <p class="col-sm-8"><input type="submit" name="send" value="send_modify"></p>
</form> {% endcomment %}
<a href="modify/" class="edit" title="Edit" data-toggle="tooltip">Add Company<i class="material-icons"></i></a>
{% endblock %}

