{% extends 'base.html' %}
{% load static %}

{%block title%}
<div class="col-sm-8"><h1>Modify Companies <b>Details</b></h1></div>
{%endblock%}

{% block content %}

<form action="{% url 'search'%}" method="POST" class="form-inline">
    {% csrf_token %}
    
    
    <p class="col-sm-8">    
        {{form.name_company.label}} 
        {{form.name_company}}
    </p>
    
    <p class="col-sm-8">  
        {{form.nit.label}} 
        {{form.nit}}
    </p>
    
    <p class="col-sm-8">
        {{form.address.label}}
        {{form.address}}</p>
    <p class="col-sm-8"> 
        {{form.description.label}}<br/>
        {{form.description}}
    </p>
 

    
    <p class="col-sm-8"><input type="submit" name="send" value="send"></p>

</form>
{%endblock%}


